:root {
}

//Цвет выделения
$selection: #242424;
//Основной цвет
$bodyColor: #fff;
//Цвет ползунка
$scrollColorThumb: #000;
//Цвет скроллбара
$scrollColorTrack: #fff;

$overlay: #242424;

//Цвет шапки модалки
$modalTitleBG: #242424;
//Цвет крестика
$iconCloseBG: #242424;

//Цвета хлебных крошек
$breadcrumsColorLi: #000;
$breadcrumsColorLink: #232323;
$breadcrumsColorFigure: #000;

//Цвета text-content
$colorTitle: #000;
$textContentSpan: #454545;
$borderTableColor: #242424;
$colorLiLine: #121212;
$colorLink: #121212;

//Цвета input,textarea
$borderFocus: #121212;
$borderInput: #121212;
$starColor: #121212;
$checkboxLink: #000;
$checkmarBorder: #000;
$checkmarkBorderHover: #000;

//Футер
$footerBG: #000;
$arrowUpColor: #fff;
$arrowLineColor: #000;
$arrowLineHover: red;
$arrowHover: #fff;
$arrowSize: 50px;
$oxboxHover: #000;

$telColor: #000;
